@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	color: #000;
}

html {height: 100%;}

body {
	height: 100%;
	color: #000;
	font: 28px 'Matias', Arial, Tahoma, sans-serif;
	background: #fff url('../img/main-bg2.jpg') no-repeat fixed;
}

ol ,ul {list-style: none;}


* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

a, a:hover {
	color: #999;
	text-decoration: none;
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {clear: both;}

.left {float: left;}
.right {float: right;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.width {
	min-width: 960px;
	width: 100%;
}

/*-------------------HEADER----------------------*/

#header {
	position: relative;
	min-height: 100px;
	height: 100px;
	background: rgba(64,224,208,.5);
	color: #fff;
	width: 650px;
	border-radius: 51px;
	margin: 10px 0 0 10px;
}

	#header div {
		display: inline-block;
	}

	.animate-circle {
		cursor: pointer;
		height: 100px;
	}

	.animate-circle img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		transition: 1s;
	}

	.prompt, .header-menu {
		vertical-align: top;
		margin-top: 5%;
	}

	.prompt {
		margin-left: 15px;
	}

	.header-menu ul li {
		display: inline;
		margin-right: 40px;
	}

		.header-menu ul li:first-child {
			margin-left: 30px;
		}

	.header-menu a {
		color: #fff;
		transition: 1s;
	}

		.header-menu a:hover {
			color: #666;
		}

	.rotation {
		transform: rotate(360deg);
		transition: 1s;
		animation-iteration-count: infinite;
	}

.lang {
	position: absolute;
	top: 50px;
	right: 25px;
}

	.lang a {
		display: inline-block;
		margin-right: 15px;
	}

/*-------------------CONTENT----------------------*/

.greeting {
	text-align: center;
	margin: 10% 0 5%;
	height: 95vh;
}

	.greeting h1 {
		font-family: 'Archive';
		font-size: 76px;
		text-transform: uppercase;
		animation: bounceInDown 1s;
		padding-bottom: 25px;
		-webkit-user-select: none;
	}

	.greeting img {
		animation: UpDown 1s infinite alternate;
	}

/*---------ABOUT ME--------*/

.abb {
	background: #cff;
	height: 600px;
	padding-top: 40px;
}

	.abb span {
		font-size: 2em;
		display: block;
		text-align: center;
	}

.about-blocks {
	width: 760px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}

	.about-blocks div {
		display: inline-block;
		overflow: hidden;
		width: 760px;
		height: 400px;
		padding-top: 15px;
		text-align: center;
		font-size: 24px;
	}

		.about-blocks div span {
			display: block;
			text-align: center;
			margin-bottom: 15px;
			font-size: 36px;	
		}

	.slick-prev:before {
	  content: "⟨";
	  color: #999;
	  font-size: 60px;
	}

	.slick-next:before {
	  content: "⟩";
	  color: #999;
	  font-size: 60px;
	}

	.slick-prev {
		left: -65px;
		top: 40%;
	}

	.slick-next {
		right: -65px;
		top: 40%;
	}

	.slick-dots li button {
		border: 2px solid #999;
		border-radius: 50%;
		opacity: 0.5;
	}

	.slick-dots li button::before {
		content: '';
		width: 10px;
		height: 10px;
		background: #999;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		margin: -5px 0 0 -5px;
	}

/*---------SKILLS--------*/

.skills {
	margin-left: 8px;
}

	.skills div {
		height: 400px;
		width: 120px;
		margin-right: 20px;
		text-transform: uppercase;
	}

		.skills div span {
			font-size: 24px;
		}

		.skills > div > div {
			height: 150px;
			width: 50px;
			border: 1px solid #000;
			border-radius: 25px;
			box-shadow: 0 0 8px #000 inset;
			padding-top: 0;
			margin-left: 20px;
		}

			.skills > div > div > div {
				background: #cff;
			}

		.skills > div > .html-scale {
			background: orange;
		}

			.skills > div > .html-scale > .html-filling {
				height: 25px;
			}

		.skills > div > .css-scale {
			background: #00f;
		}

			.skills > div > .css-scale > .css-filling {
				height: 25px;
			}

		.skills > div > .js-scale {
			background: red;
		}

			.skills > div > .js-scale > .js-filling {
				height: 80px;
			}

		.skills > div > .ps-scale {
			background: aqua;
		}

			.skills > div > .ps-scale > .ps-filling {
				height: 100px;
			}	

		.skills > div > .plug-scale {
			background: #999;
		}

			.skills > div > .plug-scale > .plug-filling {
				height: 50px;
			}					

/*---------PORTFOLIO--------*/

.portfolio-slider {
	background: #cff;
	width: 100%;
	height: 600px;	
	padding-top: 40px;
}

	.portfolio-slider span {
		display: block;
		text-align: center;
		font-size: 2em;
		margin-bottom: 25px;
	}

	.portfolio-slider p {
		text-align: center;
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	.slick-dotted.slick-slider {
		margin-bottom: 50px;
	}

	.portfolio {
		background: #cff;
		width: 760px;
		height: 300px;
		margin: 0 auto;
		position: relative;
	}

	.portfolio > div {
		display: inline-block;
		overflow: hidden;
		width: 760px;
		height: 290px;
		padding-top: 20px;
		text-align: center;
		font-size: 24px;
		margin: 0;
	}

	.portfolio img {
		border: 3px solid #f00;
		border-radius: 10px;
		display: inline-block;
	}

/*---------MEDIUM BLOCK--------*/

.medium-block {
	position: relative;
	height: 500px;
	color: #000; 
	padding-top: 50px;
	/* background: url('../img/mb-bg.jpg'); */
}

	.mb-span {
		-webkit-user-select: none;
		min-height: 1px;
		margin: 0 auto;
		text-align: center;
		font-size: 10em;
	}

		.mb-span span {
			margin-left: 50px;
		}

		.mb-span::after {
			content: '>';
			position: absolute;
			color: #f00;
		}

		.mb-span::before {
			content: '<';
			position: absolute;
			color: #f00;
			margin-left: -130px;
		}

/*---------CONTACTS--------*/

.contact-block {
	padding-top: 40px;
	background: #fff;
}

	.left-line, .right-line {
		position: relative;
		z-index: 1;
		height: 30px;
		background: #000;
		width: 40%;
		margin-top: 15px;
	}

	.left-line {
		animation: fadeInLeft 1.5s;
		float: left;
	}

	.right-line {
		animation: fadeInRight 1.5s;
		float: right;
	}

	.c-name {
		position: relative;
		z-index: 2;
		width: 300px;
		margin: 0 auto;
		text-transform: uppercase;
		color: #fff;
		background: #f00;
		animation: zoomIn 1.5s;
	}

		.c-name p {
			font-size: 45px;
			padding: 5px 0 5px 55px;
		}

	.links {
		position: relative;
		display: inline-block;
		margin: 3% 0 2% 28%;
	}

		.links div {
			display: inline-block;
			margin-right: 20px;
		}

			.links div > a > i {
				color: #000;
			}

		.fb-link a {
			border: 1px solid #000;
			border-radius: 50%;
			padding: 7px 15px;
		}

		.vk-link a {
			border: 1px solid #000;
			border-radius: 50%;
			padding: 7px 8px;
		}

		.skype, .mail {
			position: relative;
			padding: 7px;
			border: 1px solid #000;
			border-radius: 18px;
		}

			.skype i , .mail i {
				margin-right: 5px;
			}
	.by {
		text-align: right;
		padding: 0 40px 20px 0;
	}

/*-------------------ANIMATION----------------------*/	

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes UpDown {
	100% {
		transform: translate3d(0, 50px, 0);
	}
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
	animation: fadeInLeft 1s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft 1s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
