
@font-face {
  font-family: 'Matias';
  src: url('Matias.eot?#iefix') format('embedded-opentype'),  url('Matias.otf')  format('opentype'),
	     url('Matias.woff') format('woff'), url('Matias.ttf')  format('truetype'), url('Matias.svg#Matias') format('svg');
  font-weight: normal;
  font-style: normal;
}
